.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: lightsalmon;
  border: 5px solid black;
}

.nav-section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}