.folder-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folders-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 5px solid black;
    border-radius: 15px;
    background-color: #55433B;
    width: 600px;
    padding: 10px;
}

.folder-link {
    font-size: 25px;
}

.folder-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: auto;
    border: 5px dashed black;
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px;
    background-color: #99B5FF;
}

.folder-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6080D1;
    border: 5px solid black;
    border-radius: 15px;
    margin: 16px;
    padding: 10px;
}

a {
    color: black;
}

.folder-link:hover {
    text-shadow: 4px 4px 4px darkgreen;
}

button:hover {
    box-shadow: 5px 5px;
}

@media only screen and (max-width: 375px) {
    .folders-container {
        width: 300px;
    }
}
