.folder-title {
    text-decoration: underline;
}

.folder-container {
    border: 5px solid black;
    background-color: lightcyan;
}

.folder {
    text-decoration: none;
    font-size: 25px;
    margin: 0;
}
