.login-form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border: 5px solid black;
    background-color: lightblue;
    height: auto;
    width: auto;
}

label, input, button {
    font-size: 40px;
    color: blue;
}

input {
    padding: 10px;
}

button {
    padding: 15px;
    cursor: pointer;
}

#logInButton {
    background-color: lightgreen;
}