.note-title {
     /* swap to heading when it exists */
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px;
}

