.note-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-title {
    text-decoration: underline;
}

.note-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    border: 5px solid black;
    background-color: lightseagreen;
    width: 200px;
}

.note {
    text-decoration: none;
    font-size: 25px;
    margin: 50px;
}

.note:hover {
    text-shadow: 2px 2px 2px darkred;
}

button:hover {
    box-shadow: 2px 2px;
}