.signup-form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border: 5px solid black;
    background-color: lightgoldenrodyellow;
    height: auto;
    width: auto;
}

label, input, button {
    font-size: 14px;
    margin: 10px;
}

input {
    padding: 10px;
}

button {
    padding: 15px;
    cursor: pointer;
}

#signUpButton {
    background-color: lightblue;
}