.note-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 5px solid black;
    background-color: green;
    width: 500px;
    padding: 10px;
}

.note-item {
    background-color:white;
    border: 5px dotted black;
    font-size: 18px;
    margin: 10px 0;
    text-overflow: ellipsis;
    overflow: auto;
}

.note-title {
    font-size: 22px;
    text-decoration: underline;
}

.note-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
}

.note-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    padding: 12px;
    background-color: lightblue;
    margin: 16px
}

@media only screen and (max-width: 375px) {
    .notes-container {
        width: 300px;
    }
}